# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
build/
android/app/release-keystore.jks

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Generated platform files
android/.gradle/
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
